# API
## Package where the app is located
export FLASK_APP=time_tracker_api

# Common attributes
## In case you use an Azure SQL database, you must specify the database connection URI. Check out the README.md for more details
#export SQL_DATABASE_URI=mssql+pyodbc://<user>:<password>@time-tracker-srv.database.windows.net/<database>?driver\=ODBC Driver 17 for SQL Server

## For Azure Cosmos DB
export DATABASE_ACCOUNT_URI=https://<project_db_name>.documents.azure.com:443
export DATABASE_MASTER_KEY=<db_master_key>
### or
# export COSMOS_DATABASE_URI=AccountEndpoint=<ACCOUNT_URI>;AccountKey=<ACCOUNT_KEY>
## Also specify the database name
export DATABASE_NAME=<db_name>

## For Azure Users interaction
export MS_AUTHORITY=
export MS_CLIENT_ID=
export MS_SCOPE=
export MS_SECRET=
export MS_ENDPOINT=
export AZURE_APP_CONFIGURATION_CONNECTION_STRING=

## If you are running on Docker compose:
export REQUESTS_CA_BUNDLE=/etc/ssl/certs/